
@media only screen and (min-width: 40em) {
    /*Selector Specificity: (0, 0, 1)*/
    main{
        display: grid;
        grid-template-columns: auto auto;
    
        
    }
    /*Selector Specificity: (0, 0, 2)*/
    main article{
        padding: 2%;
    }
    /*Selector Specificity: (0, 0, 2)*/
    main section{
        vertical-align: center;
        padding: 2%;
    }
}